create_event.json
{
  "name": "create event",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Start time"
            },
            {
              "name": "End time"
            },
            {
              "name": "Event summary"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -140,
        340
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "maotakuplays@gmail.com",
          "mode": "list",
          "cachedResultName": "maotakuplays@gmail.com"
        },
        "timeMin": "={{ $json['Start time'] }}",
        "timeMax": "={{ $json['End time'] }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        340
      ],
      "id": "f58b0b52-665a-4068-9a82-6bf851bf3131",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CmxpUxq62DCLl3gi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bf4e05d-d033-414f-9201-161f771b8a2e",
              "leftValue": "={{ $json.available }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        340
      ],
      "id": "b13b3f85-62d5-4822-9de1-8fa0ce53318b",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "maotakuplays@gmail.com",
          "mode": "list",
          "cachedResultName": "maotakuplays@gmail.com"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json['Start time'] }}",
        "end": "={{ $('When Executed by Another Workflow').item.json['End time'] }}",
        "additionalFields": {
          "summary": "={{ $('When Executed by Another Workflow').item.json['Event summary'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1560,
        160
      ],
      "id": "9c27f6d7-66cb-49dc-bf57-f01e67e4a10d",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CmxpUxq62DCLl3gi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdac3c33-20a1-4aa9-ba5a-5e8f740316b0",
              "name": "response",
              "value": "=time slot unavailable due to booked slots {{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        420
      ],
      "id": "c65b0c9d-7d88-495e-becc-6f55a3bd9343",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba863cb7-e23e-4b0b-a736-026a3daa0ee0",
              "name": "response",
              "value": "=created event {{ $('When Executed by Another Workflow').item.json['Event summary'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        160
      ],
      "id": "0b673440-98c9-486e-a03b-bebe3afd0455",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "maotakuplays@gmail.com",
          "mode": "list",
          "cachedResultName": "maotakuplays@gmail.com"
        },
        "timeMin": "={{ $('When Executed by Another Workflow').item.json['Start time'] }}",
        "timeMax": "={{ $('When Executed by Another Workflow').item.json['End time'] }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1000,
        420
      ],
      "id": "282019cc-332f-472b-b286-5e6cf80312ca",
      "name": "Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CmxpUxq62DCLl3gi",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Start time": "2025-02-15T06:40:00+05:30",
          "End time": "2025-02-15T07:40:00+05:30",
          "Event summary": "Work"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "940b5c6a-fe83-433d-abf7-0e23e52520e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "376de1611444a6d877eb04d4d76d66cabf4239f4368ca454a5a82cec59e58a3b"
  },
  "id": "uK8XktK8q9BrXnjV",
  "tags": []
}