Notes.json
{
  "name": "Notes",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Note"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1480,
        760
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "83e5df35-e9ef-4f52-aa09-69e57d3e291c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        320,
        880
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "c7089574-aab2-496b-a0c6-e80fc2660441",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        380,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "notes",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "ad0906a6-d53d-4391-9b37-d3343510d3e0",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -680,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "txVy6Km0K19BXO3e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.documentId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11cbf6fe-4d4f-4bb5-be19-a5a3e3958869",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        780
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "notes",
          "mode": "list",
          "cachedResultName": "notes"
        },
        "options": {
          "queryName": "match_notes"
        }
      },
      "id": "8d32b3fc-5f07-45b3-86bc-cc1542149556",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        240,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "txVy6Km0K19BXO3e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        120,
        940
      ],
      "id": "8bfaaef6-9e03-4a37-bd49-3b24e593cb44",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oqCCLCeLQ12ub0iD",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1nN9hluL3RF8JmQzBlnW4QDB80em0uNMJIeq1dFAtPn4/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{'\\n'+ '\\n'+ $json.Note }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1120,
        760
      ],
      "id": "7b3ad9ac-73e7-4e2e-af65-3fb419c4e2ba",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7xP3n7rrmWC26zwr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "notes",
          "mode": "list",
          "cachedResultName": "notes"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -800,
        560
      ],
      "id": "9c4f17f0-0730-447b-b511-f4f94b637827",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "raXOI4m3sETufUww",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc01b8f4-b8fb-4c78-9568-51c18390b716",
              "name": "response",
              "value": "noted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        620
      ],
      "id": "7314d016-07ac-457d-bcc4-9e1dc9ce6aa3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1nN9hluL3RF8JmQzBlnW4QDB80em0uNMJIeq1dFAtPn4/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -520,
        560
      ],
      "id": "4e4a35f5-ea14-4cd2-88f0-08a6ba0279a1",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7xP3n7rrmWC26zwr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1nN9hluL3RF8JmQzBlnW4QDB80em0uNMJIeq1dFAtPn4/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -280,
        560
      ],
      "id": "d032cdd6-4876-4791-a739-f8ef2a6c2a43",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7xP3n7rrmWC26zwr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Google Docs').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -460,
        780
      ],
      "id": "2b486fa5-2f96-4e8e-91e6-cc8481421ba2",
      "name": "Google Docs3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7xP3n7rrmWC26zwr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1620,
        1180
      ],
      "id": "283a23d5-8e4c-42ed-9173-666b7c0ef575",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -680,
        1240
      ],
      "id": "be5d6c40-838e-4e3e-95e8-ca495779bfda",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "u8dyBPsP8D02UJ3Y",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1CuLL0TDaJ4R9nsQjmZb-Y-vRODdxc80q",
            "mode": "list",
            "cachedResultName": "knowledge base",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1CuLL0TDaJ4R9nsQjmZb-Y-vRODdxc80q"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1400,
        1180
      ],
      "id": "1641f6b9-6b69-41b1-a82c-48e47d6e3e2c",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "u8dyBPsP8D02UJ3Y",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -420,
        1240
      ],
      "id": "13a5a1b0-208c-4862-9066-7808808bca08",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "notes",
          "mode": "list",
          "cachedResultName": "notes"
        },
        "options": {
          "queryName": "match_notes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -40,
        1180
      ],
      "id": "0829d3f0-54e9-4ae3-a2d5-2464abfe80ed",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "txVy6Km0K19BXO3e",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -80,
        1420
      ],
      "id": "ad7acb22-98c4-4aa1-ad04-49fbb63f6db4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "oqCCLCeLQ12ub0iD",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        100,
        1440
      ],
      "id": "932e2bc5-8e36-4c49-970c-47b6f068f196",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        140,
        1620
      ],
      "id": "67657ed6-d0bf-4335-bc81-8458a14214a3",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1180,
        1180
      ],
      "id": "978d230b-0ec5-4540-ad6e-b4bd20c59f23",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "notes",
        "filterType": "string",
        "filterString": "=metadata->>id=like.*{{ $json.id }}"
      },
      "id": "99c1eadd-9052-43d2-991e-23639967f636",
      "name": "Delete Old Doc Rows2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        1240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "txVy6Km0K19BXO3e",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Google Docs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs3": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Doc Rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88d23d38-cdf0-4095-9206-5b473a412886",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "376de1611444a6d877eb04d4d76d66cabf4239f4368ca454a5a82cec59e58a3b"
  },
  "id": "ewZi1tfxAarfSaqD",
  "tags": []
}